/* Fontes modernas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.navbar-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar-desktop-navigation {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: linear-gradient(90deg, #0047ab, #0066cc);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-centered {
  max-width: 1400px;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar-logo {
  width: 230px;
}

.navbar-nav-links {
  padding-top: 0.8%;
  display: flex;
  gap: 45px;
}

.navbar-nav-link {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-nav-link:hover {
  color: #ffdf00;
}

.navbar-nav-link::after {
  content: '';
  display: block;
  height: 3px;
  width: 0%;
  background: #ffdf00;
  transition: width 0.3s ease-in-out;
}

.navbar-nav-link:hover::after {
  width: 100%;
}

.menu-icon {
  display: none;
}

.drawer-content {
  width: 230px;
  background-color: #f4f4f4;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drawer-content .MuiIconButton-root {
  color: #0047ab;
}

.drawer-content .MuiDivider-root {
  background-color: #0047ab;
}

@media (max-width: 768px) {
  .navbar-nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .navbar-centered {
    height: 9vh;
    justify-content: space-between;
  }

  .navbar-logo {
    width: 180px;
  }
}