.home-section17 {
  gap: var(--dl-space-space-fiveunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
  background-color: #287a76;
  text-align: center;
}

.home-content5 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.home-header13 {
  gap: var(--dl-space-space-threeunits);
  width: 60%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  margin: 0 auto;
}

.home-heading16 {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}

.home-buttons2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-text37 {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
}

.button-action {
  background-color: #0e716c;
  color: #ffffff;
  padding-bottom: -50px;
  padding: 14px 28px;
  font-weight: 700;
  border-radius: 15px;
  font-size: 18px;
}

.button-action:hover {
  background-color: #084340;
}

@media (min-width: 992px) and (max-width: 1460px) {
  .home-heading16 {
    font-size: 40px;
    width: 100%;
  }

  .home-buttons2 {
    width: 100%;
  }

  .button-action {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Inter;
    font-weight: 600;
    line-height: 24px;
  }

  .hero-campaign-div-buttom {
    background-color: #065f5a;
    color: #ffffff;
    padding: 15px 25px;
    font-weight: 700;
    border-radius: 15px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .home-section17 {
    padding-top: var(--dl-space-space-fourunits);
    margin-top: 30%;
  }

  .home-heading16 {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    width: 100%;
  }

  .home-header13 {
    padding-bottom: var(--dl-space-space-fiveunits);
    margin-left: 0%;
    width: 100%;
  }

  .home-buttons2 {
    flex-direction: column;
    width: 100%;
  }

  .button-action {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: Inter;
    font-weight: 800;
    line-height: 24px;
  }

  .home-heading13 {
    margin-left: 0%;
    width: 100%;
  }

}

@media (min-width: 420px) and (max-width: 428px) {
  .hero-campaign-div-buttom {
    background-color: #075f5a;
    font-size: 14px;
    color: #f2f2f2;
    padding: 10px 10px 10px;
    font-weight: 800;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }
}

@media (min-width: 391px) and (max-width: 414px) {
  .hero-campaign-div-buttom {
    background-color: #075f5a;
    font-size: 14px;
    color: #f2f2f2;
    padding: 10px 10px 10px;
    font-weight: 800;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-right: 10px;
  }

}